.blog {

    // global page styles start
    main {
        display: grid;
        grid-template-columns: 2fr 1fr 6fr;
    }
    // global page styles start


    // header start

    nav {
        background-color: #2c2c2c;
    }

    header {
        background-image: url(../planted-final-assets/blog-header-1.jpg);
        padding-top: 300px;
        padding-bottom: 50px;
        background-position: center;

        h1 {
            text-transform: capitalize;
            margin: 0;
            font-size: 6rem;
            color: #f8e71c;

        }
    }

    // header end


    // sidebar start 
    .sidebar {

        h3 {
            text-transform: capitalize;
        }

        a {
            color: #0e902d;
            display: block;
        }

        .sidebarContent {

            background-color: white;
            margin-top: -25px;
            padding: 50px 25px 25px 25px;
        }



        ul {
            flex-direction: column;
            list-style-type: disc;
        }
    }
    .blogImg {
        position: relative;
        left: 25px;
        bottom: 150px;
        box-shadow: -25px 25px 0px 0px rgba(248, 231, 28, 1);
    }
    // sidebar end


    // blog start
    .blogContainer {
        display: flex;
        flex-direction: column;
        grid-column-start: 3;
        
        // article start
        .articleContent {
            border-left: 3px solid #f8e71c;
            border-bottom: 3px solid #f8e71c;
            margin-top: -150px;
            padding-bottom: 50px;

            h2,
            p {
                max-width: 800px;
            }
        }
        // article end


        // comments start
        .comments,
        .blogPost {
            margin-left: 25px;
        }
        .post {
            display: flex;
            padding: 25px 0;

            p {
                margin-left: 10px;
            }

            img {
                width: 50px;
                height: 50px;
                margin: auto;
            }
        }
        // comments end


        


        // form start
        form {
            padding: 50px 0;


            input {
                background-color: #f0efed;
                text-transform: capitalize;
            }


            textarea {
                background-color: #f0efed;
                text-transform: capitalize;
            }
        }
    }
    // form end

}



@media (max-width: 700px) {
    .blog {
        main {
            display: flex;
            flex-wrap: wrap;
            font-size: 1.5rem;
        }

        .sidebar {
            padding: 0 0 250px 0;
            display: block;
        }

        .blogContainer {
            .blogImg {
                left: 0;
                bottom: 0;
                box-shadow: 0px 25px 0px 0px rgba(248, 231, 28, 1);
            }

            .articleContent {
                border: none;

                .blogPost {
                    padding-top: 25px;

                }
            }
        }

        .post {
            margin-right: 15px;
        }
    }
}