.blog {

    nav {
        background-color: #2c2c2c;
    }

    header {
        background-image: url(../planted-final-assets/blog-header-1.jpg);
        padding-top: 300px;
        padding-bottom: 50px;
        background-position: center;

        h1 {
            text-transform: capitalize;
            margin: 0;
            font-size: 6rem;
            color: #f8e71c;

        }
    }

    .sidebar {



        ul {
            flex-direction: column;
        }
    }


    main {
        display: grid;
        grid-template-columns: 2fr 1fr 6fr;
    }



    .blogContainer {
        display: flex;
        flex-direction: column;
        grid-column-start: 3;

        .comments,
        .blogPost {
            margin-left: 25px;
        }



        .articleContent {
            border-left: 3px solid #f8e71c;
            border-bottom: 3px solid #f8e71c;
            margin-top: -150px;
            padding-bottom: 50px;

            h2,
            p {
                max-width: 800px;
            }
        }




        .blogImg {
            position: relative;
            left: 25px;
            bottom: 150px;
            box-shadow: -25px 25px 0px 0px rgba(248, 231, 28, 1);
        }

        .post {
            display: flex;
            padding: 25px 0;

            p {
                margin-left: 10px;
            }

            img {
                width: 50px;
                height: 50px;
                margin: auto;
            }
        }


        form {
            padding: 50px 0;


            input {
                background-color: #f0efed;
                text-transform: capitalize;
            }


            textarea {
                background-color: #f0efed;
                text-transform: capitalize;
            }
        }
    }



}