.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 100px 0;
    
    
    h2 {
    font-size: 5.63rem;
    }

    .aboutContent {
        height: 100%;
    text-align: center;
    }
}

.fancyCards {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    background-color: #fff;


    .gridItem1
    {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        text-align: end;
        

        p {
            margin: 0 0 0 auto;
            max-width: 450px;
        }
    }

    .gridItem2 {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        text-align: start;

                p {
                    margin: 0 auto 0 0;
                    max-width: 450px;
                }

    }
}

// 
.siteOverview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
}

.founder {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    // p,
    // h3,
    // a {

    // }
}


.gallery {
    background-color: white;
}

footer {
    text-align: center;
}
