html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f0efed;
}

p {
  margin: 0;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
}

a:hover,
a:focus {
  color: #f8e71c;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 25px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 7px 0;
}

img {
  width: 100%;
}

footer {
  text-align: center;
}

.icon {
  text-transform: capitalize;
  margin-left: 50px;
  font-size: 35px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}

li {
  margin-top: 10px;
}

.home .icon {
  color: #ffffff;
}

.home li {
  color: #ffffff;
}

.home header {
  background: url(../planted-final-assets/home-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-position: center;
}

.home header span {
  color: #f8e71c;
}

h1 {
  font-size: 16.6rem;
  color: #ffffff;
  z-index: 10;
  width: 50%;
  margin: 0 auto;
}

.headerContent {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 100px 0;
}

.imgContainer {
  position: absolute;
  width: 100%;
  top: 120px;
  right: 0px;
  max-width: 700px;
}

@media (max-width: 1065px) {
  header h1 {
    margin: 0;
    font-size: 14rem;
  }
  header .imgContainer {
    width: 80%;
  }
}

@media (max-width: 700px) {
  header {
    flex-wrap: wrap;
  }
  header .headerContent h1 {
    font-size: 6rem;
  }
  header .imgContainer {
    position: relative;
    top: 20;
    width: 100%;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 100px 0;
}

.about h2 {
  font-size: 5.63rem;
}

.about .aboutContent {
  height: 100%;
  text-align: center;
  padding: 100px 0;
}

.about .aboutContent p {
  padding-bottom: 50px;
}

.findMore {
  margin: 25px 0 25px 15px;
}

.findMore a {
  background-color: #0e902d;
  padding: 10px 15px;
}

.fancyCards {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  background-color: #fff;
}

.fancyCards .gridItem1 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  text-align: end;
}

.fancyCards .gridItem1 img {
  position: relative;
  bottom: 25px;
  box-shadow: 15px 15px 0px 0px #f8e71c;
}

.fancyCards .gridItem1 p {
  margin: 0 0 0 auto;
  max-width: 450px;
}

.fancyCards .gridItem2 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  text-align: start;
  grid-column-start: 3;
}

.fancyCards .gridItem2 img {
  position: relative;
  top: 25px;
  box-shadow: -15px 15px 0px 0px #f8e71c;
}

.fancyCards .gridItem2 p {
  margin: 0 auto 0 0;
  max-width: 450px;
}

.siteOverview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2;
  padding: 50px 0;
}

.siteOverview li i {
  padding: 12px;
  background-color: #f8e71c;
  border-radius: 50%;
}

.siteOverview h3 {
  color: black;
}

.siteOverview p {
  margin-left: 20px;
  color: black;
}

.founder {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.founder p {
  margin-left: 20px;
}

.gallery {
  background-color: white;
}

.gallery ul {
  justify-content: center;
  flex-wrap: wrap;
}

.gallery ul li {
  margin: 15px;
  width: calc(33.333% - 30px);
}

footer {
  background-color: #2c2c2c;
  padding: 10px 0;
}

@media (max-width: 700px) {
  .fancyCards {
    display: flex;
    flex-wrap: wrap;
  }
  .fancyCards .gridItem1,
  .fancyCards .gridItem2 {
    text-align: center;
    padding: 50px 0;
  }
  .fancyCards .gridItem1 p,
  .fancyCards .gridItem2 p {
    margin: 50px auto;
  }
  .fancyCards .gridItem1 .findMore,
  .fancyCards .gridItem2 .findMore {
    padding-bottom: 50px;
  }
  .fancyCards .gridItem1 img {
    order: 1;
  }
  .siteOverview {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .founder {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .gallery ul {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery ul li {
    width: 100%;
  }
}

.blog main {
  display: grid;
  grid-template-columns: 2fr 1fr 6fr;
}

.blog nav {
  background-color: #2c2c2c;
}

.blog header {
  background-image: url(../planted-final-assets/blog-header-1.jpg);
  padding-top: 300px;
  padding-bottom: 50px;
  background-position: center;
}

.blog header h1 {
  text-transform: capitalize;
  margin: 0;
  font-size: 6rem;
  color: #f8e71c;
}

.blog .sidebar h3 {
  text-transform: capitalize;
}

.blog .sidebar a {
  color: #0e902d;
  display: block;
}

.blog .sidebar .sidebarContent {
  background-color: white;
  margin-top: -25px;
  padding: 50px 25px 25px 25px;
}

.blog .sidebar ul {
  flex-direction: column;
  list-style-type: disc;
}

.blog .blogImg {
  position: relative;
  left: 25px;
  bottom: 150px;
  box-shadow: -25px 25px 0px 0px #f8e71c;
}

.blog .blogContainer {
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
}

.blog .blogContainer .articleContent {
  border-left: 3px solid #f8e71c;
  border-bottom: 3px solid #f8e71c;
  margin-top: -150px;
  padding-bottom: 50px;
}

.blog .blogContainer .articleContent h2,
.blog .blogContainer .articleContent p {
  max-width: 800px;
}

.blog .blogContainer .comments,
.blog .blogContainer .blogPost {
  margin-left: 25px;
}

.blog .blogContainer .post {
  display: flex;
  padding: 25px 0;
}

.blog .blogContainer .post p {
  margin-left: 10px;
}

.blog .blogContainer .post img {
  width: 50px;
  height: 50px;
  margin: auto;
}

.blog .blogContainer form {
  padding: 50px 0;
}

.blog .blogContainer form input {
  background-color: #f0efed;
  text-transform: capitalize;
}

.blog .blogContainer form textarea {
  background-color: #f0efed;
  text-transform: capitalize;
}

@media (max-width: 700px) {
  .blog main {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
  }
  .blog .sidebar {
    padding: 0 0 250px 0;
    display: block;
  }
  .blog .blogContainer .blogImg {
    left: 0;
    bottom: 0;
    box-shadow: 0px 25px 0px 0px #f8e71c;
  }
  .blog .blogContainer .articleContent {
    border: none;
  }
  .blog .blogContainer .articleContent .blogPost {
    padding-top: 25px;
  }
  .blog .post {
    margin-right: 15px;
  }
}

.contact nav {
  background-color: #2c2c2c;
}

.contact header {
  background-image: url(../planted-final-assets/contact-header-1.jpg);
  background-position: center;
  padding-top: 230px;
}

.contact header h1 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 9.6rem;
  width: 300px;
  margin: 0 auto 0 0;
  color: #f8e71c;
  padding-bottom: 25px;
}

.contact .contactContainer {
  display: flex;
}

.contact .contactContainer .socialContact {
  display: flex;
  flex-wrap: wrap;
  line-height: 15px;
  flex-direction: column;
  padding-right: 50px;
}

.contact .contactContainer .socialContact p {
  margin: 5px 0;
}

.contact .contactContainer .socialContact ul {
  padding-left: 0;
}

.contact .contactContainer .socialContact ul a {
  color: #0e902d;
  width: 15px;
  padding: 0 5px;
}

.contact .formContainer {
  position: relative;
  left: 50px;
  bottom: 200px;
  padding: 50px;
  background-color: #fff;
  width: 75%;
  box-shadow: -20px 15px 0px 0px #f8e71c;
}

@media (max-width: 700px) {
  .contactContainer {
    flex-wrap: wrap;
    width: 100%;
  }
  .contactContainer .socialContact {
    margin: 0 auto;
  }
  .contactContainer .formContainer {
    bottom: 0;
    margin: 25px 0;
    width: 100%;
    left: 0;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.formContainer form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.formContainer form:nth-child(2) {
  margin-right: 0;
}

.formContainer form input {
  width: calc(50% - 25px);
  margin: 0 25px 25px 0;
  border: none;
  border-bottom: 2px solid #0e902d;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.formContainer form textarea {
  width: 100%;
  height: 350px;
  padding: 20px;
  border: 2px solid #0e902d;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.formContainer form button {
  margin-top: 15px;
  padding: 5px 15px;
  width: 100%;
  background-color: #0e902d;
  border: none;
}
